@model IEnumerable<Demo1.Models.ProductMaster>

@{ ViewBag.Title = "IndexUser"; }



<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/ok.css" type="text/css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<!-- Header-->
<header class="bg-dark py-5" style="margin-top:50px;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Shop in style</h1>
            <p class="lead fw-normal text-white-50 mb-0">With this shop hompeage template</p>
        </div>
    </div>
    <div class="wrap" style="text-align:center;">
        <div class="search">
            @using (Html.BeginForm("IndexUser", "Product", FormMethod.Get))
            {
                @Html.TextBox("search")


                <button type="submit" value="Search" class="searchButton">
                    Search
                </button>
            }
        </div>
    </div>
</header>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5" style="margin-top:5%;">

        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">

            @foreach (var item in Model)
            {
                @*<div id="ok">*@

                <div class="col-md-3" style="text-align:center;">
                    <section class="panel">
                        <div class="pro-img-box">
                            <img src="@Url.Content(item.Image)" style="height:300px; width:260px; margin:auto;" id="previewImage" />

                        </div>

                        <div class="panel-body text-center">
                            <h4>
                                <a href="/Product/ProductDetail/@item.BookId" class="pro-title">
                                    @item.BookName
                                </a>
                            </h4>
                            <p class="price">$@item.BookPrice</p>
                        </div>
                        <button onclick="window.location.href='/ShoppingCart/AddtoCart/@item.BookId'" class="btn btn-dark btn-rounded mr-1" data-toggle="tooltip" title="" data-original-title="Add to cart">
                            <i class="fa fa-shopping-cart"></i>
                            
                        </button>

                    </section>
                </div>

            }

        </div>
    </div>
</section>
