@{
    ViewBag.Title = "Home Page";
}

<body style="background-color:white;">

    header class="bg-dark py-5" style="margin-top:50px;">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Welcome to FPTBook</h1>
            <p class="lead fw-normal text-white-50 mb-0">Your happiness is our joy</p>
        </div>
    </div>

    <!-- Features Section -->
    <div class="row">
        <div class="col-lg-6">
            <h1> &nbsp; &nbsp;Our Store Features:</h1>

            <ul>
                <li style="color:black; font-size:large">Wide range books </li>
                <li style="color: black; font-size: large"> Wordwide shipping</li>
                <li style="color: black; font-size: large"> &nbsp;Anual member for promotions  &nbsp;&nbsp;</li>
            </ul>
        </div>
        <div class="col-lg-6">
            <img src="https://44.media.tumblr.com/b48309ec3777fac20dc0a2fa333a88f4/tumblr_psdk7dCc511t9q05y_500.gif" style="width:120%;">
        </div>
        
    </div>
</body>